<!DOCTYPE html>
<html>
<head>
  <title>CommonlyUsedScopes</title>
  <%= stylesheet_link_tag    "commonly_used_scopes/application", :media => "all" %>
  <%= javascript_include_tag "commonly_used_scopes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
